<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ToledoGuiadoV2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6F7FB71B1C4974D0005C0278</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6F7FB7311C4974D0005C0278</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6F7FB73C1C4974D0005C0278</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
